{
  "servers": {
    "localhost": {
      "server": "http://localhost:8080/exist",
      "user": "admin",
      "password": "",
      "root": "/db/apps/iCalSE"
    }
  },
  "sync": {
    "server": "localhost",
    "ignore": [
      ".exist-secrets.json",
      ".git/**",
      "components/**",
      "node_modules/**",
      "bower_components/**",
      "webtest/**",
      "package*.json",
      ".vscode/**"
    ]
  },
  "package": {
    "author": "Peter Herkenrath",
    "target": "iCalSE",
    "description": "",
    "namespace": "http://eNahar.org/fhir",
    "status": "alpha",
    "title": "iCalSE",
    "website": "http://eNahar.org/ns/apps/iCalSE",
    "license": "MAAT"
  }
}
